<h2>About <%= rand9text true %></h2>

<p>We are a senior software development firm who love to focus on creating and deploying complex systems. The internet has been our canvas for over a decade. We constantly reﬁne development practices to implement smart, fast, efﬁcient solutions. <span class="strong">We excel at building software that brings the right experience to the customer.</span></p>

<p id="copyright">&copy; 2008<%= (Time.now.year > 2008 ? '-'+Time.now.year.to_s : '') %> <%= rand9text true %>, LLC</p>